* {
  margin: 0;
  padding: 0%;
  font-family: Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #121212;
  color: #121212;
  margin-bottom: 2em;
}

h1 {
  padding: 20px;
  text-align: center;
}

form {
  width: 450px;
}

.row{
  margin-right: 0;
}

/* banner styling */
.banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  vertical-align: middle;
}

.nav-item {
  height: 100%;
}

.nav-list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #004040;
  list-style: none;
}

.nav-link {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 15px;
  color: #fbfaf5;
}

.github {
  display: none;
}

.linkedin {
  display: none;
}

@media (min-width: 415px) and (max-width: 768px) {
  .banner {
    width: 100%;
    height: 150px;
    object-fit: cover;
    vertical-align: middle;
  }
}

@media (min-width: 1024px) {
  .banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: middle;
  }

  .nav-link {
    padding: 25px;
  }

  .github {
    display: block;
    justify-content: center;
  }

  .linkedin {
    display: block;
    justify-content: center;
  }

  .github-logo {
    height: 50px;
    width: 50px;
    margin: 5px 25px 0 0;
  }

  .linkedin-logo {
    height: 50px;
    width: 60 px;
    margin: 5px 25px 0 0;
  }
}
