* {
  margin: 0;
  padding: 0%;
  font-family: Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #121212;
  color: #fbfaf5;
  margin-bottom: 2em;
}

.banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  vertical-align: middle;
}

.nav-item {
  height: 100%;
}

.nav-list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #004040;
  list-style: none;
}

.nav-link {
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 15px;
  color: #fbfaf5;
}

.github {
  display: none;
}

.linkedin {
  display: none;
}

.content {
  margin: 0 1em 0 1em;
}

.about-header {
  margin: 1em 0 1em 0;
  text-align: center;
}

.about-pic {
  display: block;
  grid-area: picture;
  height: 250px;
  width: 175px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1em;
}

.about-text {
  background-color: #252525;
  border-radius: 10px;
  padding: 0 1em 1em 1em;
}
.work {
  grid-area: work;
}
.projects {
  grid-area: projects;
}

.work,
.projects {
  background-color: #252525;
  border-radius: 10px;
  padding: 1em;
  margin: 2em 0 0 0;
}

.work-header,
.project-header {
  padding: 1em 0 1em 0;
  text-align: center;
}

.work-history,
.project-history {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  border-width: 1px 0;
}

td {
  padding: 1em 1em 0 0;
}

tr:first-child {
  border: solid;
  border-width: 1px 0;
  border-top: none;
}
.resume {
  margin-top: 1em;
  text-align: center;
  font-size: x-large;
}

.project-link,
.resume-link {
  color: #0096ff;
  text-decoration: none;
}

.project-link:hover,
.resume-link:hover {
  color: orange;
}

* {
  margin: 0;
  padding: 0%;
  font-family: Georgia, Times, "Times New Roman", serif;
}

form {
  width: 450px;
}

.form-header {
  padding: 20px;
  text-align: center;
}
.row {
  margin-right: 0;
}

.recipient {
  background-color: #004040;
  color: #fbfaf5;
}

.recipient:hover {
  background-color: #1b7070;
  color: #fbfaf5;
}

.contact-info {
  display: none;
}

@media (min-width: 415px) and (max-width: 768px) {
  .banner {
    width: 100%;
    height: 150px;
    object-fit: cover;
    vertical-align: middle;
  }

  .about-pic {
    height: 300px;
    width: 225px;
  }
}

@media (min-width: 1024px) {
  .banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: middle;
  }

  .nav-link {
    padding: 25px;
  }

  .github {
    display: block;
    justify-content: center;
  }

  .linkedin {
    display: block;
    justify-content: center;
  }

  .github-logo {
    height: 50px;
    width: 50px;
    margin: 5px 25px 0 0;
  }

  .linkedin-logo {
    height: 50px;
    width: 60 px;
    margin: 5px 25px 0 0;
  }

  .content {
    margin: 0 1em 0 1em;
  }

  .about {
    display: inline-flex;
    margin-top: 2em;
  }

  .about-pic {
    margin: 1em 1em;
    height: 350px;
    width: 300px;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 3fr;
    gap: 5px;
    grid-template-areas: "work projects";
  }

  .resume {
    margin-top: 3em;
    text-align: center;
    font-size: x-large;
  }
}

@media (min-width: 1300px) {
  .content {
    margin: 0 15% 0 15%;
  }
}
